# Backend
DATABASE_URL=postgresql+psycopg://fondix:fondix@localhost:5432/fondix_pay
JWT_SECRET_KEY=change-me-in-local-env
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
OTP_DEV_CODE=123456
APP_ENV=development
CORS_ORIGINS=http://localhost:19006,http://localhost:8081

# Docker Postgres
POSTGRES_DB=fondix_pay
POSTGRES_USER=fondix
POSTGRES_PASSWORD=fondix

# Mobile
EXPO_PUBLIC_API_URL=http://127.0.0.1:8000

