VITE_PUBLIC_LANDING_URL=[PENDING_PUBLIC_LANDING_URL]
VITE_APP_STORE_URL=[PENDING_APP_STORE_URL]
VITE_PLAY_STORE_URL=[PENDING_PLAY_STORE_URL]
VITE_PRIVACY_NOTICE_URL=[PENDING_PRIVACY_NOTICE_URL]
VITE_TERMS_URL=[PENDING_TERMS_URL]

